<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
	
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-TX0DXKFC8G"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-TX0DXKFC8G');
	</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="/jsscripts.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
  
  <body class="d-flex flex-column h-100">
  
   	 <section th:include="navigation.html::navbar"></section>
    
     <main role="main" class="flex-shrink-0 my-auto">
	     <div class ="container py-3 border" >
			<h3> Edit your details </h3>
			
			 <!-- 	The controller will add an 'error' attribute to the request in the instance any errors were encountered on the server-side that stopped the
	    		creation of the new account. As it is an array, we'll loop through the errors and display them on the screen. -->
		   		
		   		<div th:if="${session.UserProfileErrors != null}" class="alert alert-danger alert-dismissible" role="alert" data-bs-dismiss="alert">  
		   			<span class="fw-bold">Errors</span>
		   			<br>
		   			<ul>
			   			<li th:text="${session.UserProfileErrors}"></li>
		   			</ul>
		   			<div th:text="${#session.removeAttribute('UserProfileErrors')}"></div>
		   			<button class="btn-close" aria-label="close" data-bs-dismiss="alert"></button>
		   		</div>
	
			<form id="form" action="#" th:action="@{/account/update}" th:object="${user}" method="POST">
				
				<div class="row">
					<div class="form-group pt-3 col">
						<label for="firstname">First name</label>
						<input type="text" th:field="*{firstName}" class="form-control" name="firstName" id="firstname" value="Bob" th:value="${user.firstName}" maxlength="45" required>    
					</div> 		
						 	 		
		 			<div class="form-group pt-3 col">
		     			<label for="surname">Surname</label>
		    			<input type="text" th:field="*{surname}" class="form-control" name="surname" id="surname" value="Smith" th:value="${user.surname}" maxlength="45" required>    
		 	 		</div>
	 	 		</div>
	 	 		
	 	 		<div class="row">
		 	 		<div class="form-group pt-3 col">
		     			<label for="dob">Date of birth</label>
		    			<input type="date" th:field="*{dateOfBirth}" class="form-control" name="dateOfBirth" id="dob" th:value="${user.dateOfBirth}" onfocus="this.max=new Date().toISOString().split('T')[0]" required>
		 	 		</div>
		 	 		
		     		<div class="form-group pt-3 col">
		     			<label for="email">Email address</label>
		    			<input type="email" th:field="*{email}" class="form-control" name="email" id="email" value="template@email.com" th:value="${user.email}" maxlength="45" 
		    			oninput="isEmailAvailableExcludingLoggedInUser(this.value);" required>
		    			<div id="emailAlert"></div>
		 	 		</div>
	 	 		</div>
	 	 		
	 	 		<div class="row">
		 	  		<div class="form-group pt-3 col">
		 	    		<label for="pwd">Password</label>
		 	    		<input type="password" class="form-control" name="password" id="pwd" value="password" th:value="${user.password}" maxlength="45" required>
		 	    		<div class="text-danger" id="pwdRegExError">  </div>
		 	  		</div>
		 	  		
		 	  		<div class="form-group pt-3 col">
			    		<label for="pwdCheck">Retype password</label>
			    		<input type="password" class="form-control" name="pwdCheck" id="pwdCheck" value="password" th:value="${user.password}" maxlength="45" required>
			    		<div class="text-danger" id="pwdMatchError">  </div>
			  		</div>
		  		</div>
		  		
		  		<div class="row">
			  		<div class="form-group pt-3 col">
		    			<label for="exp">What is your exercise experience?</label>
		   				<select class="form-control" th:field="*{exerciseExperience}" name="exerciseExperience" id="exp">
		   					
		  					<!--  Below statements check whether the user bean value of exercise experience is equal to the condition. If true, set the
		  						  option as selected. Else, just use non-selected option.  -->

   							<option th:if="${user.exerciseExperience} eq 'None'" value="None" selected>None</option>
   							<option th:unless="${user.exerciseExperience} eq 'None'" value="None">None</option>

   							<option th:if="${user.exerciseExperience eq 'Novice'}" value="Novice" selected>Novice</option>
   							<option th:unless="${user.exerciseExperience eq 'Novice'}" value="Novice">Novice</option>
		
   							<option th:if="${user.exerciseExperience eq 'Intermediate'}" value="Intermediate" selected>Intermediate</option>
   							<option th:unless="${user.exerciseExperience eq 'Intermediate'}" value="Intermediate">Intermediate</option>

   							<option th:if="${user.exerciseExperience eq 'Intermediate'}" value="Experienced" selected>Experienced</option>
   							<option th:unless="${user.exerciseExperience eq 'Intermediate'}" value="Experienced">Experienced</option>
   											
			    		</select>
			 		</div>
			  		
			  		<div class="form-group pt-3 col">
			  		
			    		<label for="disab">Do you have a disability? If yes, please specify</label>
			    		<select class="form-select" th:field="*{disability}" aria-label="Default select example" name="disability" id="disabSelection">
						 
						 <!-- If the user disability value equals N/A, then have this as selected. If not, leave unselected. -->
							<option th:if="${user.disability eq 'N/A'}" value="N/A" selected>No</option>
							<option th:unless="${user.disability eq 'N/A'}" value="N/A">No</option>
							
							<option th:each="entry: ${disabilitiesList}" th:if="${entry eq user.disability}" th:value="${entry}" th:text="${entry}" selected></option>
							<option th:each="entry: ${disabilitiesList}" th:unless="${entry eq user.disability}" th:value="${entry}" th:text="${entry}"></option>
		   												<option th:if="${user.disability eq 'Other'}" value="Other" selected>Other (disability not listed)</option>
							<option th:unless="${user.disability eq 'Other'}" value="Other">Other (disability not listed)</option>
						
						</select>
			  		</div>
		  		</div>
	 	  		
	 	  		<div class="pt-3">
	 	  			<button type="submit" value="Submit" class="btn btn-primary">Save profile changes</button>
	 	  		</div>
	 	  		
	 	  		<div class="pt-3">
	 	  			<a class="btn btn-primary" href="viewUserProfile.html" th:href="@{/account/view}" role="button">Discard changes</a>
		     	</div>
		     </form>	
		     
		     
		     <form id="deleteUserForm" th:action="@{/account/delete}" method="POST">
		     	
		     	<!-- Button to trigger the delete account modal -->
				<div class="pt-3">
					<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
		 				 Delete account
					</button>
				</div>
				
				<!-- Deleting account modal -->
				<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Delete account</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      <div class="modal-body">
				        Are you sure you want to delete your account?
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No!</button>
				        <button type="submit" value="Submit" class="btn btn-primary" >Yes, please delete my account.</button>
				      </div>
				    </div>
				  </div>
				</div>
		     </form>  	     	 
			</div>
		</main>
    
    <section class ="mt-auto" th:include="footer.html::footer"></section>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    
  </body>
</html>